<button data-bind="
    click: toggleMute,
    css: {
        active: isMute()
    }" type="button" class="btn btn-default btn-xs" aria-label="Left Align">
    <span data-bind="css: {
        'glyphicon-volume-up': !isMute(),
        'glyphicon-volume-off': isMute()
    }" class="glyphicon" aria-hidden="true"></span>
</button>