
<div data-bind="css: {'simple-player__range_in-progress_yes': loadedInPercent() >=0 && loadedInPercent() < 100}" class="simple-player__range">

    <input
        style="width: 1%"
        type="range"
        class="simple-player__range-input"
        min="0"
        step="1"
        value="0"
        data-bind="
            style: {width: inputWidth()},
            value: trackCurrTime,
            attr: {value: trackCurrTime(), max: trackDuration()},
            event: {change: onRangeChange, input: onRangeInput}"
    />
    <div class="simple-player__range-line"></div>
</div>