.simple-player {
	position: relative;
	max-width: 500px;
	-webkit-user-select: none;
	user-select: none;
	padding: 20px 30px;
	margin: 30px auto;
	border: 1px #e0e0e0 solid;
}

.simple-player__layout {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
}

.simple-player__layout-col {
	padding-right: 10px;
}

.simple-player__layout-col:last-child {
	padding-right: 0;
}

.simple-player__layout-col_name_play-pause {
	order: 1;
	padding-right: 15px;
}

.simple-player__layout-col_name_time-line {
	order: 2;
	width: 100%;
}

.simple-player__layout-col_name_time-counter {
	order: 3;
}

.simple-player__layout-col_name_volume {
	order: 4;
}

.simple-player__range {
	position: relative;
	width: 100%;
}
.simple-player__range-input {
	-webkit-appearance: none;
	position: relative;
	transition: width 250ms;
}

.simple-player__range-line {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 5px;
	background: #f0f0f0;
	z-index: -1;
}

.simple-player__range-input::-webkit-slider-runnable-track {
	width: 100%;
	height: 5px;
	background: #79d5e8;
	border: none;
	border-radius: 3px;
}

.simple-player__range-input::-webkit-slider-thumb {
	-webkit-appearance: none;
	border: none;
	height: 13px;
	width: 13px;
	border-radius: 50%;
	background: #32b6da;
	margin-top: -4px;
}

.simple-player__range-input:focus {
	outline: none;
}

.simple-player__range-input:focus::-webkit-slider-runnable-track {
	background: #79d5e8;
}

.simple-player__time-counter {
	padding-right: 40px;
	white-space: nowrap;
}

.simple-player .btn {
	outline: none !important;
}