<div class="simple-player">
    <div class="simple-player__layout">
        <div class="simple-player__layout-col simple-player__layout-col_name_play-pause">
            <!-- ko component: {
                name: "play-pause-button",
                params: { playerViewModel: playerViewModel}
            } -->
            <!-- /ko -->
        </div>

        <div class="simple-player__layout-col simple-player__layout-col_name_time-line">
            <!-- ko component: {
                name: "time-line",
                params: { playerViewModel: playerViewModel}
            } -->
            <!-- /ko -->
        </div>

        <div class="simple-player__layout-col simple-player__layout-col_name_time-counter">
            <!-- ko component: {
                name: "time-counter",
                params: { playerViewModel: playerViewModel}
            } -->
            <!-- /ko -->
        </div>

        <div class="simple-player__layout-col simple-player__layout-col_name_volume">
            <!-- ko component: {
                name: "mute-button",
                params: { playerViewModel: playerViewModel}
            } -->
            <!-- /ko -->
        </div>
    </div>
</div>