<button data-bind="click: togglePlay" type="button" class="btn btn-default btn-xs" aria-label="Left Align">
    <span data-bind="css: {
        'glyphicon-play': !isPlaying(),
        'glyphicon-pause': isPlaying()
    }" class="glyphicon" aria-hidden="true" ></span>
</button>